bcrypt
blinker
certifi
cffi 
click
Flask
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-SQLAlchemy
Flask-WTF
itsdangerous
Jinja2==3.0.3
MarkupSafe==2.0.1
Pillow
pycparser
six
SQLAlchemy
Werkzeug==2.0.0
WTForms
