@import "global.css";
@import "Squared.css";
@import "autocomplete.css";

form input[type=text],
form input[type=password],
form input[type=number] {
  background-color: #F0F0F0;
}

.mandatory
{
   border: 1px solid #ced4da;
}

.mandatory:required
{
   border-color: red;
}

.login-body
{
  background-color: #F5F5F5;
}