body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  .flash-messages {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .flash-message {
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #e74c3c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-in-out;
    font-size: 18px;
  }
  
  .flash-error {
    background-color: #e74c3c;
  }
  .button-1{
    height: 30px;
    width: 80px;
    background-color: #5f788a;
    border-radius: 6px;
    border: 0.5px solid black;
    color: white;
    font-weight: 600;
    margin-right: 8px;
    cursor: pointer;
    transition: box-shadow 1s;
  }
  /* 
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } */