<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Back Pain</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/Back_Pain_App.css')}}"
    />
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/Back_Pain_App.js')}}"
    ></script>

    <!-- This Script is added to track the website usage -->
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-Q1LYKS933M"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-Q1LYKS933M");
    </script>
  </head>

  <body>
    <nav class="navbar">
      <a class="home left_button" href="{{ url_for('index')}}">Restart</a>
      <span class="title">Back Pain</span>
      <a class="home right_button" href="{{ url_for('login') }}">Log In</a>
      <a class="home right_button" href="{{ url_for('register') }}">Register</a>
    </nav>
    <div class="main">
      <br /><br />
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
