<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Back Pain</title>
    <link rel="stylesheet" href="../static/css/Back_Pain_App.css">
    <script type="text/javascript" src="../static/js/Back_Pain_App.js"></script>
    <script src="../static/js/script.js"></script>

</head>

<body>
    <h1>Flask File Uploads tutorial</h1>
    <nav class="navbar">
        <a class="home left_button" href="..templates/index.html">
            Restart
        </a>
        <span class="title">Back Pain</span>
        <a class="home right_button" href="https://sites.google.com/view/mobilemskdemo/home">
            Your Site
        </a>
    </nav>
    <div class="main"><br><br>
        {% block content %} {% endblock %}

        <button id="upload-button" class="my-button">Upload Files</button>
        <!-- Add this button -->
    </div>
</body>

</html>
