{% extends 'Base.html' %}

{% block content %}
    <h1>Create Profile</h1>
    <form method="POST" action="/create_profile">
        <label for="fullname">Full Name:</label>
        <input type="text" id="fullname" name="fullname" required>
        <br><br>

        <label for="gender">Gender:</label>
        <input type="text" id="gender" name="gender" required>
        <br><br>

        <label for="age">Age (in years):</label>
        <input type="number" id="age" name="age" required>
        <br><br>

        <label for="dob">Date of Birth:</label>
        <input type="date" id="dob" name="dob" required>
        <br><br>

        <label for="contactdetails">Contact Details:</label>
        <input type="text" id="contactdetails" name="contactdetails" required>
        <br><br>

        <label for="emergencycontact">Emergency Contact:</label>
        <input type="text" id="emergencycontact" name="emergencycontact"  required>
        <br><br>

        <input type="submit" value="Submit">
    </form>


{% endblock %}