<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Back_Pain_App.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/flash-messages.css')}}">
</head>
{% block content %}
    <nav class="navbar">
        <a class="home left_button" href="{{ url_for('index')}}">Restart</a>
        <span class="title">Back Pain</span>
        <a class="home right_button" href="{{ url_for('register')}}">Register</a>
    </nav>
    <div class="form-container">
        <div class="form-main">
            <h2>Forgot Password</h2><br>
            {% block flash_messages %}
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    <ul class="flash-messages">
                        {% for category, message in messages %}
                            <li class="flash-message flash-{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}
            {% endblock %}
            <form action="/forgot_password" method="post">
                <div>
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto mandatory" id="username" name="username" placeholder="Username" type="text">
                </div>
                <div>
                    <button class="default_button" type="submit" style="width:100px;">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
</html>
