{% extends 'Base.html' %}

{% block content %}
{#    General Search Bar <br>#}
{#    {% with search_bar_placeholder = 'Place Holder' %}#}
{#        {% with search_bar_id = 'searchbar_id_1' %}#}
{#            {% include 'Search_Bar.html' %}#}
{#        {% endwith %}#}
{#    {% endwith %}#}
{#    <br><br>#}
    <form action="{{ url_for('mobile_msk_questionaire') }}">
        <button style="width:300px;" type="submit" class="default_button" id="list_parts">
            Start
        </button>
    </form>

{% endblock %}