{% extends 'Base.html' %}

{% block content %}

<h2>OSWENTRY Symptom Progression Over Time</h2>
<br>
<h3>Pain Intensity Progression</h3>
<img src="{{ oswentry_1 }}" alt="Pain Intensity Progression">
<br><br>
<h3>Personal Care (e.g. Washing, Dressing) Progression</h3>
<img src="{{ oswentry_2 }}" alt="Personal Care (e.g. Washing, Dressing) Progression">
<br><br>
<h3>Lifting Progression</h3>
<img src="{{ oswentry_3 }}" alt="Lifting Progression">
<br><br>
<h3>Walking Progression</h3>
<img src="{{ oswentry_4 }}" alt="Walking Progression">
<br><br>
<h3>Sitting Progression</h3>
<img src="{{ oswentry_5 }}" alt="Sitting Progression">
<br><br>
<h3>Standing Progression</h3>
<img src="{{ oswentry_6 }}" alt="Standing Progression">
<br><br>
<h3>Sleeping Progression</h3>
<img src="{{ oswentry_7 }}" alt="Sleeping Progression">
<br><br>
<h3>Social Life Progression</h3>
<img src="{{ oswentry_8 }}" alt="Social Life Progression">
<br><br>
<h3>Traveling Progression</h3>
<img src="{{ oswentry_9 }}" alt="Traveling Progression">
<br><br>
<h3>Employment/Homemaking Progression</h3>
<img src="{{ oswentry_10 }}" alt="Employment/Homemaking Progression">
<br><br>
<h3>OSWENTRY Disability Score Progression</h3>
<img src="{{ oswentry_all }}" alt="OSWENTRY Disability Score Progression">
<br>
{% endblock %} 