{% extends 'Base.html' %}

{% block content %}

    <div style="display: flex; justify-content: center">
    <form method="post">
    {% for q in questions %}
        <div style="text-align: left">
            <h2>{{ q }}</h2>
            {% for a in answers[q] %}
                    <input type="radio" id="{{ a }}" name="{{ q }}" value="{{ a }}">
                    <label for="{{ a }}">{{ a }}</label><br>
            {% endfor %}
        </div><br><br>
    {% endfor %}
    
    <button style="width: 300px;" type="submit" class="default_button">Submit</button>
    </form>
    </div>
    
{% endblock %}
