<!DOCTYPE html>
<html>
<head>
    <title>Terms and Conditions</title>
</head>
<body>
    <h1>Terms and Conditions</h1>
    <p>
       
        1. Permission to use website.
        2. No misuse of website allowed.
        3. Registration and accounts: Account registration process to be followed. Notify on misuse of account.
        4. User login details: Password to be kept confidential.
        5. Cancellation and suspension of account: Rights of operator over free website account.
        6. Our rights to use your content: User may edit their own content.
        7. Rules about your content: user content warranty; no unlawful user content.
        8. Medical information: immediate medical attention; never delay medical treatment.
        9. Indemnity: indemnity from website users.
        10. Consequences of breaches of these terms and conditions
        11. Variation: Document may be revised.
        
    </p>
</body>
</html>
